.navbar {
  height: 150px;
  background: rgb(88, 88, 237);
  color: white;
  display: flex;
  justify-content: center;
}
.parent {
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  position: relative;
  /* border: 1px red solid */
}
.search-city {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border: 1px black solid;
  }
  .search-btn{
    font-size: 30px;
    border-radius: 20px;
    width: 200px;
    background-color: rgb(119, 119, 245);
    color: white;
  }
  .city-info{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      border: 5px purple solid;
      flex-direction: column;
  
  }
  .list{
    list-style-type:none;
  }


.five-day {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px black solid;
}

.search-hx {
  /* background-color: #8d8d8d; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
  flex-direction: column;
}
.btn {
  font-size: 30px;
  border: 2px solid black;
  border-radius: 20px;
  /* border-top: 2px;
    border-bottom: 2px; */
}

#searchbar {
  margin-bottom: 20%;
  margin-top: 20%;
  padding: 15px;
  border-radius: 10px;
}
/*  
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   } */

/* When the input field gets focus,
        change its width to 100% */
/* input[type=text]:focus {
     width: 70%;
   } */
